---
layout: layouts/base.njk
permalink: /ghost/
eleventyNavigation:
  key: Ghost Content
  order: 3
---
<h1>Ghost Content</h1>

<p>This is a list of all posts and pages imported from Ghost.</p>

{% if collections.ghost and collections.ghost.length > 0 %}
  <h2>All Ghost Posts and Pages ({{ collections.ghost.length }})</h2>
  {% set postslist = collections.ghost %}
  {% include "postslist.njk" %}
{% else %}
  <p>No Ghost content found.</p>
{% endif %}
